<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title>Clients</title>
    <th:block th:include="layout/header"></th:block>
</head>
<body>
<div class="container" id="content">
    <div>
        <h2>New Client Details</h2>
        <div>
            <form class="form-horizontal">
                <div class="form-group">
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="client_name" placeholder="Name"/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="client_age" placeholder="Age"/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="client_address" placeholder="Address"/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-2">
                        <button id="editclient" type="submit" class="btn btn-primary">Save</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div th:if="${not #lists.isEmpty(clients)}">
        <h2>All Clients:</h2>
        <table class="table table-striped" id="results">
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Age</th>
                <th>Address</th>
                <th>Details</th>
                <th>Delete</th>
            </tr>
            <tr th:each="client : ${clients}">
                <td th:text="${client.id}">Id</td>
                <td th:text="${client.name}">Name</td>
                <td th:text="${client.age}">Age</td>
                <td th:text="${client.address}">Address</td>
                <td><a th:href="${'/clients/' + client.id}" class="btn btn-default">Details</a></td>
                <td>
                    <form class="delete-button" method="POST">
                    <input type="hidden" name="id" th:value="${client.id}"/>
                    <button type="submit" class="btn btn-danger delete-client">Delete</button>
                    </form>
                </td>

            </tr>
        </table>
    </div>
</div>
</body>
</html>