<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title>Clients</title>
    <th:block th:include="layout/header"></th:block>
</head>
<body>
<div class="container">
    <div>
        <a th:href="${'/clients/add/'}" class="btn btn-default">Add Client</a>
    </div>
    <div th:if="${not #lists.isEmpty(clients)}">
        <h2>All Clients:</h2>
        <table class="table table-striped">
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Age</th>
                <th>Address</th>
                <th>Details</th>
                <th>Delete</th>
            </tr>
            <tr th:each="client : ${clients}">
                <td th:text="${client.id}">Id</td>
                <td th:text="${client.name}">Name</td>
                <td th:text="${client.age}">Age</td>
                <td th:text="${client.address}">Address</td>
                <td><a th:href="${'/clients/' + client.id}" class="btn btn-default">Details</a></td>
                <td><a th:href="${'/clients/' + client.id + '/delete'}" class="btn btn-danger">Delete</a></td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>